*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 14px;
    line-height: 20px;
    font-family: "Montserrat", "Roboto", "Lato", "Open Sans";
}

p{
    margin: 10px 0;
}

img{
    padding: 25px 0 0 0;
    max-width: 20%;
    margin-left: 80%;
}

h1{
    line-height: 35px;
    font-weight: normal;
    font-size: 24px;
}

h4{
    line-height: 20px;
    font-weight: normal;
    font-size: 13px;
    margin: 10px 0 30px 0;
}

.wrapper{
    width: 75%;
    height: 700px;
    margin:40px auto;
}

.row{
    width: 100%;
}

.up{
    display: flex;
    justify-content: center;
    align-items: center;

}

.down{
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 70%;
    margin-top: 20px ;
}

.col_up{
    text-align: center;

    width:45%;
}

.col{
    height: 200px;
    width: 300px;
}

.col_center{
    height: 460px;
}

.col_center .card{
    margin: 20px 0; 
}

.card{
    padding: 25px 35px 35px 25px;
    background-color: white;
    border-radius: 3px;
    box-shadow: 9px 19px 21px -23px hsl(212, 86%, 64%);
}

.azzurra{
    border-top: 4px solid hsl(180, 62%, 55%);
}

.rossa{
    border-top:4px solid hsl(0, 78%, 62%);
}

.gialla{
    border-top:4px solid hsl(34, 97%, 64%)
}

.blu{
    border-top:4px solid hsl(212, 86%, 64%);
}
